<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>Calculadora de Danos</title>
</head>

<body>
    <div class="bloco">
        <h1 id="titulo">Batalha Pokémon</h1>
    </div>
    <!--bloco-->
    <div class="dragons">
        {% for pokemon in pokemons_1 %}
        <div class="dragon" data-nome='{{pokemon.nome}}' data-valor='{{pokemon.valor}}' data-vida='{{pokemon.vida}}' data-imagem = '{{pokemon.imagem}}'>
            <img class="pokemon_{{pokemon.valor}}" src="{{pokemon.imagem}}">
            <!--<progress class="progress-bar" id="vida_{{pokemon.valor}}" value={{pokemon.vida}} max="100"></progress>-->
            <a href="#openModal"  id="open_href" ></a>           
            <div id="openModal" class="modalDialog">
                <div>
                    <a href="#close"  id="close2" ><img id = "ataque" src="https://i.gifer.com/GI3D.gif" alt="gastly" /></a>

                </div>
            </div>
            <div class="nome_pokemon">
                <b>{{pokemon.nome}}</b>
            </div>
            <!--nome_pokemon-->
        </div>
        <!--card_pokemons-->

        {% endfor %}

    </div>
    <!--lista_pokemons_1-->     
    <button class="atacar" onclick="progress()">Atacar</button>
    <button class="atacar" onclick="reiniciar()">Novo Jogo</button>
    <div class="fantasmas">
        {% for pokemon in pokemons_2 %}
        <div class="fantasma" data-nome='{{pokemon.nome}}' data-vida='{{pokemon.vida}}' data-valor='{{pokemon.valor}}'>
            <img class="pokemon_{{pokemon.valor}}" id="pokemon_{{pokemon.valor}}" src="{{pokemon.imagem}}">
            <progress class="progress-bar" id="vida_{{pokemon.valor}}" value={{pokemon.vida}} min="0" max="100" color='red'></progress>
            <div class="nome_pokemon">
                <b>{{pokemon.nome}}</b>

            </div>
            <!--nome_pokemon-->
        </div>
        <!--card_pokemons-->

        {% endfor %}

    </div>
    <!--lista_pokemons_2-->
    <script type="text/javascript" src="/static/index.js"></script>
</body>

</html>